<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="todolist">
        <h1>Check List</h1>
        <button class="btn btn-success">
          <div> <%= link_to "New Task", new_task_path, id: "new_link", remote: true %> </div>
        </button>
      </div>
    </div>

    <div class="col-md-6">
      <div class="todolist">
        <h2>Need To Dos</h2>
        <div class="col-md-5 col-md-offset-4 sortable" id="incomplete_tasks">
          <% if @tasks.any? %>
            <%= render @incomplete_tasks %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="todolist">
      <h2>Done Did Its</h2>
      <div class="col-md-5 col-md-offset-4 sortable" id="complete_tasks">
        <% if @tasks.any? %>
          <%= render @complete_tasks %>
        <% else %>
          <p>GET TO IT</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
